.contact-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contact-us-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form button {
    background-color: orange;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .product{
    border: 1px solid black;
    border-radius: 0.25rem;
    font-weight: bold;
    border-width: 0.15rem;
    width: fit-content;
    margin-left: 20px;
  }